@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 218px;
  padding-left: 227px;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
}

.suptitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 67.5px;
}

.subtitle {
  font-weight: 600;
  font-size: 21px;
  line-height: 31.5px;
  opacity: 70%;
}

header {
  margin-top: 35px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #24DC9F;
  text-transform: uppercase;
  padding-left: 32px;
}
.logo::before {
  position: absolute;
  content: url("");
  top: 13px;
  left: 43px;
  width: 19px;
  height: 2px;
  border-radius: 56px;
  rotate: 310deg;
  background-color: #FEDF8B;
  box-shadow: -4px 1px 80px 0px rgba(246, 216, 135, 0.6980392157);
}
.logo::after {
  position: absolute;
  content: url("");
  top: 13px;
  left: 97px;
  width: 19px;
  height: 2px;
  border-radius: 56px;
  rotate: 310deg;
  background-color: #FEDF8B;
  box-shadow: -4px 1px 80px 0px rgba(246, 216, 135, 0.6980392157);
}
.logo_name::before {
  position: absolute;
  content: url("");
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  background: linear-gradient(176.15deg, #8EE7CA 19.68%, #2FEEAF 96.85%);
  border-radius: 56px;
  box-shadow: 0px 4px 70px 0px rgba(155, 215, 195, 0.8);
}
.logo_name::after {
  position: absolute;
  content: url("");
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  border-radius: 56px;
  box-shadow: 0px 1px 1px 0px rgba(5, 31, 23, 0.2);
}

.navigation_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 50%;
}
.navigation_link:nth-child(1) {
  margin-right: 53px;
}
.navigation_link:nth-child(2) {
  margin-right: 37px;
}

.login_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 70%;
}

.sign_link {
  display: inline-block;
  color: #FFFFFF;
  padding: 15px 30px;
  background-color: #F44545;
  opacity: 100%;
  border-radius: 6px;
  margin-left: 23px;
  transition: all 0.3s;
}
.sign_link:hover {
  background-color: #43DDAA;
  transition: all 0.3s;
  color: #021206;
}

.header__main {
  display: flex;
  margin-top: 157px;
}
.header__main_items {
  width: 50%;
}
.header__main .title span {
  color: #43DDAA;
}
.header__main_text {
  width: 510px;
  font-weight: 400;
  font-size: 21px;
  line-height: 33.6px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.header__main_text span {
  font-weight: 500;
}
.header__main_form {
  position: relative;
  margin-bottom: 36px;
}
.header__main input {
  height: 65px;
  width: 472px;
  border: none;
  border-radius: 6px;
  padding-left: 24px;
  padding-right: 145px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 50%;
  box-shadow: -5px 5px 45px 0px rgba(2, 18, 6, 0.1490196078);
}
.header__main_btn {
  position: absolute;
  top: 6px;
  left: 350px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31.5px;
  color: #FFFFFF;
  padding: 11px 33px 10px 33px;
  background-color: #F44545;
  border: none;
  border-radius: 6px;
  transition: all 0.3s;
}
.header__main_btn:hover {
  background-color: #43DDAA;
  transition: all 0.3s;
  color: #021206;
}
.header__main_store_img {
  margin-right: 30px;
}
.header__main_store_img:last-child {
  margin-right: 0;
}
.header__main_item {
  /* width: 100%; */
}

.header__footer {
  margin-top: 110px;
  background-color: rgba(142, 230, 201, 0.1);
}
.header__footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.main__complete {
  margin-top: 110px;
}
.main__complete_item {
  position: relative;
  width: 282px;
  height: 290px;
  border-radius: 10px;
  box-shadow: 0px 15px 65px 0px rgba(65, 77, 68, 0.1490196078);
  padding: 35px;
  /* &_img::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      background-color: aqua;           

  } */
}
.main__complete_item .subtitle {
  padding-top: 25px;
  padding-bottom: 9px;
}