.title {
    font-weight: 600;
    font-size: 54px;
    line-height: 81px;
}

.suptitle {
    font-weight: 600;
    font-size: 45px;
    line-height: 67.5px;

}

.subtitle {
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
}